<section class="jumbotron text-center" style="background-image: url(https://www.billboard.com/files/media/vinyl-records-stock-2017-billboard-1548.jpg); background-size: 100%;">
  <div class="container">
    <h1 class="jumbotron-heading" style="color: white;">Vinyl Collection</h1>
    <p class="lead" style="color: white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">All of your vinyls, in one electronic cabinet</p>
  </div>
</section>


<div class="album py-5 bg-light">
  <div class="container-fluid">
    <div>
      <%= form_tag "", method: "get" do %>
        <%= select_tag "filter", "<option>Highest Rated</option><option>Lowest Rated</option><option>Newest Additions</option><option>Oldest Additions</option>".html_safe %>
        <%= submit_tag "Filter" %>
      <% end %>
    </div>
    <div class="row">
      <% @vinyls.each do |vinyl| %>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" src="<%= vinyl.album.images %>" alt="Album Cover">
              <div class="card-body">
                <p class="card-text"><strong><%= vinyl.album.name %> - <%= vinyl.album.artist.name %></strong></p>
                <p class="card-text">
                  <%= rating_star vinyl.rating %>
                  <%= blank_star vinyl.rating %>
                <strong><%= vinyl.rating %> / 10</strong></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                      <% if vinyl.review %>
                      <a class="btn btn-sm btn-outline-secondary" href="<%= edit_album_review_path(vinyl.album, vinyl.album.reviews.find_by(user_id: current_user.id)) %>">
                        Edit Review
                      </a>
                    <% else %>
                      <a class="btn btn-sm btn-outline-secondary" href="<%= new_album_review_path(vinyl.album) %>">
                        Add Review
                      </a>
                    <% end %>
                    <a class="btn btn-sm btn-outline-secondary" href="<%= album_path(vinyl.album) %>">
                        Go to Album
                    </a>
                      <%= link_to "Delete", user_vinyl_path(current_user.id, vinyl), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-outline-secondary" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

  